#spring:
#  profiles:
#    active: dev
spring:
  redis:
    host: localhost
    port: 6379

  data:
    mongodb:
      uri: 
      database: dbspringboot
      auto-index-creation: true

  mail:
    host: smtp.gmail.com
    port: 587
    username : 
    password :
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true


server:
  port: 8081
  servlet:
    context-path: /journal

weather:
  api:
    key: 


logging:
  level:
    net:
      engineeringdigest:
        journalApp: DEBUG