#spring:
#  profiles:
#    active: dev
spring:
  redis:
    host: localhost
    port: 6379

  data:
    mongodb:
      uri: mongodb+srv://mrunmayik1220:manu192012@aws-deployment.7ddappq.mongodb.net/?appName=aws-deployment
      database: dbspringboot
      auto-index-creation: true

  mail:
    host: smtp.gmail.com
    port: 587
    username : mrunmayik1920@gmail.com
    password : dbqt nrmk ujvk qcji
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true


server:
  port: 8081
  servlet:
    context-path: /journal

weather:
  api:
    key: 2c5bf5290868e12e04e1fa90676f7425


logging:
  level:
    net:
      engineeringdigest:
        journalApp: DEBUG